.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cordel';
    src: url(pacote-d012/MollySansXCPERSONAL-Black/MollySansC-Bo_PERSONAL.ttf);
    font-weight: bold;
    font-style: normal;
}
  
* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

main > #container {
    background-color: lightgray;
}

main p {
    padding-left: 30px;
}

footer {
    background-color: black;
    color: white;
}